<div>
  <%= form_for(@perk) do |f| %>
    <% if @perk.errors.any? %>
      <div id="error_explaination" class="alert alert-danger">
        <ul>
          <% @perk.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, :class => "control-label" %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => "control-label" %><br>
      <%= f.text_field :description, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :credits, :class => "control-label" %><br>
      <%= f.number_field :credits, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image, :class => "control-label" %><br>
      <%= f.text_field :image, :class => "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-lg btn-primary", data: { disable_with: 'Submitting...' } %>

      &nbsp; <%= link_to "Back", perks_path, 'data-no-turbolink' => true %>
    </div>
  <% end %>
</div>