<div ng-controller="PerksCtrl">
<div id="user" data-user-id="<%= current_user.id %>"></div>
<div id="prior_selections" data-prior-selections="<%= @prior_selections %>"></div>
<div id="monthly_credits" data-monthly="<%= current_user.monthly_credits %>"></div>
<div id="subscriptions" data-subscriptions="<%= @subscriptions %>">
<%= render 'remaining_points' %>

<div class="row">
	<% @perks.each do |perk| %>
	  <div class="col-md-4 perk-col">
	  	<a href="#" ng-click="selectPerk(<%= perk.id %>, <%= perk.credits %>)" data-no-turbolink>
		  	<div class="perk" ng-class="isSelected(<%= perk.id %>)">
		  		<strong><%= perk.name %></strong>
		  		<%= perk.description || "No description..." %>
		    	<%= perk.credits %>
		  	</div>
	  	</a>
	  </div>
	<% end %>
</div>