<h3>Employees</h3>
<div class="users">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Monthly Credits</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.monthly_credits %></td>
          <td><%= link_to "Edit", edit_account_user_url(@account, user) %></td>
      </tr>
      <% end %>
    </tbody>
</table>
</div>

<div>
  <%= link_to 'Add new user', new_account_user_path %>
</div>
