<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Perky" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Perky" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <% if params[:controller] == "registrations" || params[:controller] == "accounts" %>
      <%= stripe_js_tag %>
      <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
    <% end %>

    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= params[:controller].parameterize %>-controller <%=params[:action]%>-action" data-controller="<%=params[:controller].camelize%>" data-action="<%=params[:action].camelize%>" ng-app="Perky">
    <header class="landHeader">
      <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/messages' %>
    <div class="container">
      <div class="row centerText landingContent">
        <div class="row">
          <h1><i>Employee Perks Done Right</i></h1>
          <hr><br>
          <div class="col-md-7 pull-left">
            <%= image_tag "landing1.png" %>
          </div>
          <div class="col-md-5 leftText sideText pull-right">
            <br><br>
            <h1>Simple</h1>
            <p>Enroll your employees once, and Perky takes care of the rest.</p>
          </div>
        </div>
        <hr><br>
        <div class="row">
          <div class="col-md-7 pull-right">
            <%= image_tag "landing1.png" %>
          </div>
          <div class="col-md-5 leftText sideText pull-left">
            <br><br>
            <h1>Scalable</h1>
            <p>Perky scales with your business, allowing you to customize how much you spend each month.</p>
          </div>
        </div>
        <hr><br>
        <div class="row">
          <div class="col-md-7 pull-left">
            <%= image_tag "landing1.png" %>
          </div>
          <div class="col-md-5 leftText sideText pull-right">
            <br><br>
            <h1>Flexible</h1>
            <p>Let employees pick the perks that they want, keeping them happy and saving you valuable time.</p>
          </div>
        </div>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-6 sideText">
            <br><br>
            <h1>Interested?</h1>
            <p>Let's get in touch!</p>
            <br>
          </div>
          <div class="col-md-6 leftText">
            <%= render 'email_leads/form' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
