<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Perky" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Perky" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <% if params[:controller] == "registrations" || params[:controller] == "accounts" %>
      <%= stripe_js_tag %>
      <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
    <% end %>

    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.0/json3.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= params[:controller].parameterize %>-controller <%=params[:action]%>-action" data-controller="<%=params[:controller].camelize%>" data-action="<%=params[:action].camelize%>" ng-app="Perky">
    <header class="landHeader">
      <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/messages' %>
    <div class="container">
      <div class="row centerText landingContent">
        <div class="row">
          <h1><i>Offer Your Employees Fun and Unique Perks</i></h1>
          <hr><br>
          <div class="col-md-7 pull-left">
            <%= image_tag "landing1.png" %>
          </div>
          <div class="col-md-5 leftText sideText pull-right">
            <br><br>
            <h1>Simple</h1>
            <p>
              Enroll your employees, select your per-employee monthly budget, and Perky takes care of the rest.
            </p>
          </div>
        </div>
        <hr><br>
        <div class="row">
          <div class="col-md-7 pull-right" >
            <div class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag 'homejoy.png'%>
                  <div class="carousel-caption">
                    Home Cleaning Services
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'netflix.png'%>
                  <div class="carousel-caption">
                    Netflix Membership
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'seamless.png'%>
                  <div class="carousel-caption">
                    Restaurant Take-Out and Delivery Credits
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'sittercity.png' %>
                  <div class="carousel-caption">
                    Babysitting Services
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'dryv.png' %>
                  <div class="carousel-caption">
                    Dry-Cleaning & Laundry Services
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'divvy.png' %>
                  <div class="carousel-caption">
                    Shared Bike Access
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'uber.png' %>
                  <div class="carousel-caption">
                    On-Demand Personal Driver Services
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'match.png' %>
                  <div class="carousel-caption">
                    Dating Website Membership
                  </div>
                </div>
                <div class="item">
                  <%= image_tag 'spafinder.png' %>
                  <div class="carousel-caption">
                    Spa Credits
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 leftText sideText pull-left">
	        <h1>Flexible</h1>
            <p>Your employees pick the perks they want from a catalog of curated lifestyle enhancing services:</p>
          </div>
        </div>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-6 sideText">
            <br><br>
            <h1>Interested?</h1>
            <p>Let's get in touch!</p>
            <br>
          </div>
          <div class="col-md-6 leftText">
            <%= render 'email_leads/form' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
